@import url("../main.css");
@import url("create_transaction.css");

.add-new-category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 70px;
}