@import url("../main.css");

.new_transaction {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 60px 100px;
}

.new_transaction header {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 0 40px 40px 0;
}

h2 {
    font-size: 24px;
    font-weight: 800;
    color: #e0e0e0;
    line-height: 1.5;
}

.back_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.back_button svg {
    color: rgba(214, 214, 214, 0.5);
    text-decoration: none;
    transition: color 0.2s;
    width: 30px;
    height: 30px;
}

.back_button:hover {
    color: #aaa;
}

.form-transaction-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 32px 40px;
    border-radius: 36px;
}

input::selection {
    background-color: #444;
}

label, select {
    font-size: 13px;
    font-weight: 600;
    color: #e0e0e0;
}

p {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: -0.07px;
    line-height: 1.4;
}
.value_container, .name_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-box, select{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 15px;
    color: #e0e0e0;
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    font-family: inherit;
}

select {
    background-color: #222;
    margin-bottom: 30px;
}

.category_btn_container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.category_btn_container .category-option {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    justify-content: center;
}

.category-option p {
    margin: 0;
    padding: 0;
}

.category_modal_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.modal-option {
    margin-bottom: 15px;
    cursor: pointer;
}

.form-transaction-container .button-glass {
    background-color: var(--color-primary) !important;
    color: #222;
    font-weight: bold;
    cursor: pointer;
}
#new-category-btn{
    background-color: rgba(255, 255, 255, 0.027) !important;
    color: #e0e0e0 !important;
    cursor: pointer;
}

@media (max-width: 768px) {
    .new_transaction {
        padding: 20px;
    }

    .new_transaction header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 40px 0;
    }

    .form-transaction-container {
        padding: 20px;
    }
}