{% extends "base.html" %}
{% load static %}
{% block title %}Criar Categoria — Organizei{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transactions/create_category.css' %}">
{% endblock %}

{% block content %}
<section class="new-category">
    <header>
            <span class="back_button">
                <a class="back_button-link" id="back_button-link" href="{% url 'transactions:create_transaction' %}">
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                        <polyline points="15 18 9 12 15 6" />
                    </svg>
                </a>
            </span>
            <h2>Criar Categoria</h2>
        </header>
    
    <section class="add-new-category-container glass">
        <form action="{% url 'transactions:create_category' %}" method="post">
            {% csrf_token %}
            <label for="new-category-name">Nome da nova categoria</label>
            <input type="text" name="new_category_name" id="new-category-name" placeholder="Ex: Compras, Emergências, Renda extra" class="input-box">
            <button id="save-new-category-btn" class="button-glass" onclick="saveNewCategory()" type="submit">
                <p>Salvar Categoria</p>
            </button>
        </form>
    </section>
</section>

{% endblock %}
{% block extra_js %}{% endblock %}