{% extends "base.html" %}
{% load static %}
{% block title %}Transações — Organizei{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transactions/create_transaction.css' %}">
{% endblock %}

{% block content %}

<section class="new_transaction ">
    <header>
        <span class="back_button">
            <a class="back_button-link" href="{% url 'transactions:list' %}">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <polyline points="15 18 9 12 15 6" />
                </svg>
            </a>
        </span>
        <h2>Nova Transação</h2>
    </header>
    <form method="post" action="{% url 'transactions:create_transaction' %}">
        {% csrf_token %}
        <select name="transaction_type" required>
            <option value="">Selecione o tipo</option>
            {% for value, label in transaction_type_choices %}
            <option value="{{ value }}" {% if form_data.transaction_type == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <input type="text" name="name" placeholder="Nome da Transação" value="{{ form_data.name|default:'' }}" required>
        {% if errors.name %}<p>{{ errors.name }}</p>{% endif %}

        {% if errors.transaction_type %}<p>{{ errors.transaction_type }}</p>{% endif %}

        <section class="value_container">
            <input type="number" name="value" placeholder="Valor" value="{{ form_data.value|default:'' }}" min="0.01"
                step="0.01" required>
            {% if errors.value %}<p>{{ errors.value }}</p>{% endif %}
            <p>Valor na conta: R$ {% if account_balance %}{{ account_balance|floatformat:2 }}{% else %}0.00{% endif %}
            </p> <!--mostrar saldo atual -->
        </section>
        <button type="submit" class="button-glass">Criar Transação</button>
    </form>
</section>
{% endblock%}