{% extends "base.html" %}
{% load static %}
{% block title %}Transações — Organizei{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/transactions/create_transaction.css' %}">
{% endblock %}

{% block content %}

<section class="new_transaction ">
    <header>
        <span class="back_button">
            <a class="back_button-link" href="{% url 'transactions:list' %}">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <polyline points="15 18 9 12 15 6" />
                </svg>
            </a>
        </span>
        <h2>Nova Transação</h2>
    </header>
    <form method="post" action="{% url 'transactions:create_transaction' %}">
        {% csrf_token %}
        <select name="transaction_type" required class="transaction_type_select">
            <option value="">Selecione o tipo</option>
            {% for value, label in transaction_type_choices %}
            <option value="{{ value }}" {% if form_data.transaction_type == value %}selected{% endif %}>{{ label }}
            </option>
            {% endfor %}
        </select>
        <input type="text" name="name" placeholder="Nome da Transação" value="{{ form_data.name|default:'' }}" required
            class="name_input input">
        {% if errors.name %}<p>{{ errors.name }}</p>{% endif %}

        {% if errors.transaction_type %}<p>{{ errors.transaction_type }}</p>{% endif %}

        <section class="value_container">
            <input type="text" inputmode="decimal" id="value-input" name="value" placeholder="0,00"
                value="{{ form_data.value|default:'' }}" required class="input">
            {% if errors.value %}<p>{{ errors.value }}</p>{% endif %}
            <p>Valor na conta: R$ {% if account_balance %}{{ account_balance|floatformat:2 }}{% else %}0.00{% endif %}
            </p>
        </section>

        <!-- modal selecionar categoria -->

        <input type="hidden" name="category" id="selected-category" value="{{ form_data.category|default:'' }}"
            class="input">

        <style>
            
        </style>
        
        <section class="category_btn_container input" onclick="openCategoryModal()">
            <button class="category-option" type="button" id="category-btn">
                <p>Selecionar categoria</p><span>></span>
            </button>
        </section>

        <section class="category_modal_container" id="category-modal" style="display: none;">
            {% for value, label in category_choices %}
            <div class="category-option modal-option input" onclick="selectCategory('{{ value }}', '{{ label }}')">
                <!-- <span>{{ category.icon }}</span> -->
                <p>{{ label }}</p>
             </div>
             {%endfor %}
            <button id="new-category-btn" class="button-glass" onclick="openCreateCategory()">
                <p>Adicionar Nova Categoria</p>
            </button>
        </section>

        <!-- modal add categoria -->
         <!-- adicionar no backend função separada -->
         <section class="add-new-category-container" style="display: none;">
                <input type="text" name="new_category_name" id="new-category-name" placeholder="Nome da nova categoria"
                    class="input">
                <button id="save-new-category-btn" class="button-glass" onclick="saveNewCategory()">
                    <p>Salvar Categoria</p>
                </button>
         </section>

        <button type="submit" class="button-glass" id="sent-transaction-btn">Criar Transação</button>
    </form>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/transactions/create_transaction.js' %}"></script>
{% endblock %}